version: "3.9"

services:
  api:
    build: .
    command: uv run uvicorn app.main:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
    volumes:
      - ./media:/media

  worker:
    build: .
    command: uv run worker.py
    env_file:
      - .env
    depends_on:
      - postgres
      - redis
    volumes:
      - ./media:/media

  redis:
    image: redis:8-alpine
    ports:
      - "6380:6379"
    command: redis-server --appendonly yes
    volumes:
    - redis_data:/data

  postgres:
    image: postgres:18-alpine
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
  redis_data:
